[submodule "AutoDRIVE"]
	path = AutoDRIVE
	url = https://github.com/Tinker-Twins/AutoDRIVE.git
	branch = AutoDRIVE-Simulator
	ignore = dirty
[submodule "sheeprl"]
	path = sheeprl
	url = https://github.com/AlistairKeiller/sheeprl.git
